body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #F6F8F9;
    font-family: Helvetica, Sans-Serif;
  }

#logo{
  vertical-align: middle;
}

.button{
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  width: 80px;
  height: 20px;
}

.button_1{
  background-color: #47ADF1;
  color: white;
  border: 1.5px solid #47ADF1;
}

.button_2{
  color: #C9CED3;
  border: 1.5px solid #C9CED3;
  background-color: white;
}

h1{
  display: inline-block;
  padding: 10px;
}

.div_logo{
  width: 100%;
  margin: auto;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
}

.div_navigator{
  width: 60%;
  margin: auto;
  padding: 10px 30px 10px;
  background-color: white;
  border-radius: 5px;
}

.div_list{
  list-style-type: none;
  margin-top: 10px;
  border-radius: 5px;
}

main{
  background-color: #F6F8F9;
  padding: 10px;
}

ul li{
  list-style-type: none;
  margin: 5px 0;
}

ul div{
  margin-bottom: 20px;
}

ul li p{
  font-size: 20px;
  font-weight: bold;
}

ul li span{
  font-size: 15px;
}

ul li p::before{
    content: '\25BE';
    color: black;
    margin-right: 2px;
}

ul li span.tick::before{
  color: #7DCBBA;
  border: 1px solid #7DCBBA;
  content: '\2713';

  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 100%;
  font-weight: bold;
  font-size: 8px;
  padding: 2px;
}

ul li span.cross::before{
  color: red;
  border: 1px solid red;
  content: '\2715';

  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 100%;
  font-weight: bold;
  font-size: 8px;
  padding: 2px;
}

ul li span.editorial::after{
  content: 'Editorial';
  background-color: #47ADF1;

  margin-left: 5px;
  padding: 3px 5px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: bold;
  color: white;
}

ul li span.goals::after{
  content: 'Q1 Goals';
  background-color: #9C72E4;
  
  margin-left: 5px;
  padding: 3px 5px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: bold;
  color: white;
}

ul li span.recruiting::after{
  content: 'Recruiting';
  background-color: #64C0A9;
  
  margin-left: 5px;
  padding: 3px 5px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: bold;
  color: white;
}

ul li span.mobile::after{
  content: 'Mobile';
  background-color: #F29E33;
  
  margin-left: 5px;
  padding: 3px 5px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: bold;
  color: white;
}

ul li span.website::after{
  content: 'Website';
  background-color: #D762A0;
  
  margin-left: 5px;
  padding: 3px 5px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: bold;
  color: white;
}

ul li span.sales::after{
  content: 'Sales';
  background-color: #B0C926;
  
  margin-left: 5px;
  padding: 3px 5px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: bold;
  color: white;
}
