:root{
  --bg_gray: #F6F8F9;
  --bg_white: white;
  --bg_blue: #47ADF1;
}

body{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg_gray);
    font-family: Helvetica, Sans-Serif;
  }

#logo{
  vertical-align: middle;
}

h1{
  display: inline-block;
  vertical-align: middle;
}

header{
  padding: 15px 10px;
}

.button{
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  width: 80px;
  height: 20px;
}

.button_1{
  background-color: var(--bg_blue);
  color: var(--bg_white);
  border: 1.5px solid var(--bg_blue);
}

.button_2{
  color: #C9CED3;
  border: 1.5px solid #C9CED3;
  background-color: var(--bg_white);
}

.div_logo{
  width: 100%;
  margin: auto;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  background-color: var(--bg_white);
  border-radius: 5px;
}

.div_navigator{
  width: 60%;
  margin: auto;
  padding: 10px 30px 10px;
  background-color: var(--bg_white);
  border-radius: 5px;
}

.div_list{
  list-style-type: none;
  margin-top: 10px;
  border-radius: 5px;
}

main{
  background-color: var(--bg_gray);
  padding: 10px;
}

ul li{
  list-style-type: none;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

ul div{
  margin-bottom: 20px;
}

ul li p{
  font-size: 20px;
  font-weight: bold;
}

ul li p::before{
    content: '\25BE';
    color: black;
    margin-right: 2px;
}

ul li span{
  font-size: 15px;
}

.marks::before{
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  padding: 1px 3px;
  margin-right: 7px;
  font-weight: bold;
  font-size: 8px;
}

ul li span.tick::before{
  color: #7DCBBA;
  border: 1px solid #7DCBBA;
  content: '\2713';
}

ul li span.cross::before{
  content: '\2715';
  color: red;
  border: 1px solid red;
}

.etichette::after{
  margin-left: 5px;
  padding: 5px 7px;
  border-radius: 6px;
  font-size: 8px;
  font-weight: bold;
  color: var(--bg_white);
}

ul li span.editorial::after{
  content: 'Editorial';
  background-color: var(--bg_blue);
}

ul li span.goals::after{
  content: 'Q1 Goals';
  background-color: #9C72E4;
}

ul li span.recruiting::after{
  content: 'Recruiting';
  background-color: #64C0A9;
}

ul li span.mobile::after{
  content: 'Mobile';
  background-color: #F29E33;
}

ul li span.website::after{
  content: 'Website';
  background-color: #D762A0;
}

ul li span.sales::after{
  content: 'Sales';
  background-color: #B0C926;
}
